# Roman

In [1]:
import pandas as pd

normatives_df = pd.read_pickle('data/townsnet10/normatives.pickle')
service_types_df = pd.read_pickle('data/townsnet10/service_types.pickle')

In [2]:
import geopandas as gpd

towns_gdf = gpd.read_file('data/townsnet10/towns.geojson')
acc_mx = pd.read_pickle('data/townsnet10/acc_mx.pickle')

In [3]:
from townsnet.provision.service_type import ServiceType
service_types = ServiceType.initialize_service_types(service_types_df, normatives_df)

In [ ]:
{
    
  "Образование": ["Детский сад", "Школа", "Дом детского творчества", "Среднее специальное учебное заведение", "Высшее учебное заведение"],
  
  "Здравоохранение": ["Детская поликлиника", "Больница", "Роддом", "Станция скорой медицинской помощи", "Ветеринарная клиника"],

  "Спорт": ["Спортивная площадка", "Бассейн", "Скейт-парк", "Детская площадка",],

  "Социальная помощь": ["Детские дома-интернаты", "Комплексный центр социального обслуживания населения"],

  "Услуги": ["Отделение банка", "Многофункциональные центры предоставления государственных и муниципальных услуг", "Банкомат", "Пункт выдачи", "Спортивный магазин", "Книжный магазин", "Хозяйственные товары", "Автозаправка", "Выход метро", "Супермаркет", "Продукты (магазин у дома)"],

  "Культура и отдых": ["Театр", "Концертный зал", "Памятник", "Религиозный объект", "Библиотека", "Пляж", "Ботанический сад", "Сад", "Луг"],

  "Безопасность": ["Пожарная станция", "Адвокат", "Электрическая подстанция", "Котельная", "Атомная электростанция", "Гидро-электростанция", "Тепловая электростанция", "Ветрогенератор", "ООПТ", "Промышленная зона", "Выпуски сточных вод в водоем"],

  "Туризм": ["Гостиница", "Хостел", "Кафе", "Бар/Паб"]

}

In [41]:
print((towns_gdf[towns_gdf.is_city == True][:2]))

             name  is_city  median_time      coef  coef_norm  population  \
121  Бокситогорск     True       1026.4  0.009743   0.501342      8001.0
128      Пикалево     True       1067.0  0.009372   1.000000     20169.0

                           geometry
121  POINT (548021.065 6593118.772)
128  POINT (566677.086 6597763.314)

In [4]:
from townsnet.provision import ProvisionModel

model = ProvisionModel(towns_gdf, acc_mx, verbose=False)

In [36]:
model.towns_gdf

      population                        geometry
0            111  POINT (543142.339 6580637.744)
1            116  POINT (544532.929 6593228.214)
2            116  POINT (544895.402 6593052.876)
3            114  POINT (543993.111 6589582.121)
4            108   POINT (538540.11 6576793.684)
...          ...                             ...
2926          96  POINT (399059.742 6560341.471)
2927          98  POINT (403967.171 6562087.081)
2928         100   POINT (413116.74 6573793.279)
2929         101  POINT (412458.032 6574811.307)
2930         101    POINT (412158.909 6574630.2)

[2931 rows x 2 columns]

In [5]:
import random

In [22]:

supplies_df = pd.DataFrame([random.randint(0,100) for _ in towns_gdf.index], columns=['supply'], index=towns_gdf.index)

In [23]:
df = model.calculate(supplies_df, service_types[0])

In [43]:
df.to_file(f'{service_types[0].name}.geojson')

In [11]:
df[:2].to_json()

'{"type": "FeatureCollection", "features": [{"id": "0", "type": "Feature", "properties": {"population": 111, "demand": 1, "capacity": 34, "capacity_left": 33, "demand_left": 0, "demand_within": 1, "demand_without": 0, "provision": 1.0}, "geometry": {"type": "Point", "coordinates": [543142.3390599252, 6580637.744157221]}}, {"id": "1", "type": "Feature", "properties": {"population": 116, "demand": 1, "capacity": 49, "capacity_left": 48, "demand_left": 0, "demand_within": 1, "demand_without": 0, "provision": 1.0}, "geometry": {"type": "Point", "coordinates": [544532.9287678184, 6593228.2138749]}}], "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:EPSG::32636"}}}'