# Population imputing

In [86]:
import pandas as pd

blocks_df = pd.read_pickle('./../../data/saint_petersburg/blocks.pickle')[['living_area', 'population']]
blocks_df.head()

    living_area  population
0      0.000000         0.0
1      0.000000         0.0
2   4197.188633       109.0
3   3033.795607        77.0
4  20860.965881       431.0

In [87]:
import numpy as np

frac = 0.2  

np.random.seed(42)

n = int(len(blocks_df) * frac)
idx = np.random.choice(blocks_df.index, size=n, replace=False)

blocks_df.loc[idx, "population"] = None
blocks_df.head()

    living_area  population
0      0.000000         NaN
1      0.000000         0.0
2   4197.188633       109.0
3   3033.795607         NaN
4  20860.965881       431.0

In [88]:
blocks_df.population.sum()

np.float64(4410417.0)

In [89]:
from blocksnet.preprocessing.imputing import impute_population

pop_df = impute_population(blocks_df, 6_000_000)
pop_df.head()

2025-10-07 19:38:54.748 | INFO     | blocksnet.preprocessing.imputing.population.core:impute_population:43 - Distributing 1589583 population between 1906 rows

    living_area  population
0      0.000000         0.0
1      0.000000         0.0
2   4197.188633       109.0
3   3033.795607       139.0
4  20860.965881       431.0

In [91]:
pop_df.population.sum()

np.float64(6000000.0)